<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>rootnavi</key>
	<string>MainNaviCtrl</string>
	<key>main</key>
	<string>ViewController</string>
	<key>detail</key>
	<string>DetailViewCtrl</string>
</dict>
</plist>
